@model Web.Models.UserViewModel
@{
    ViewBag.Title = @Model.FullName;
}

<h2>@Model.FullName's Dashboard</h2>

<div class="container-fluid">
    <div class="col-md-6">
        Welcome @Model.FullName
    </div>
    <div class="col-md-6">
        
    </div>
</div>